[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group BuckarooGroup
	owner = group user/asafbruner
[access "refs/for/refs/*"]
	read = group BuckarooGroup
	read = group user/asafbruner
	push = group BuckarooGroup
	push = group user/asafbruner
	label-Code-Review = -2..+2 group BuckarooGroup
	label-Code-Review = -2..+2 group user/asafbruner
	label-Verified = -1..+1 group BuckarooGroup
	label-Verified = -1..+1 group user/asafbruner
	rebase = group BuckarooGroup
	rebase = group user/asafbruner
	removeReviewer = group BuckarooGroup
	removeReviewer = group user/asafbruner
	submit = group BuckarooGroup
	submit = group user/asafbruner
[access "refs/heads/*"]
	read = group BuckarooGroup
	read = group user/asafbruner
	create = group BuckarooGroup
	create = group user/asafbruner
	push = group BuckarooGroup
	push = +force group user/asafbruner
	pushMerge = group BuckarooGroup
	pushMerge = group user/asafbruner
[access "refs/tags/*"]
	push = group BuckarooGroup
	push = +force group user/asafbruner
	pushTag = group BuckarooGroup
	pushTag = group user/asafbruner
	pushSignedTag = group BuckarooGroup
	pushSignedTag = group user/asafbruner
